name: "GitHub action for deploying my jekyll site on GHPages"

on:
  # Runs on pushes targeting the basic_jekyll_only_webstorm branch
  push:
    branches:
      - basic_jekyll_only_webstorm
    paths-ignore:
      - .gitignore
      - README.md
      - LICENSE

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write


# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true


jobs:

  bundle_jekyll_site:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0


      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v2

      - name: Build site
        uses: actions/jekyll-build-pages@v1
        with:
          source: ./docs/
          destination: ./docs/_site

      - name: Upload site artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: "./docs/_site"

  deploy_on_github_pages:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: bundle_jekyll_site
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
